.header{
  width: 1185px;
  padding: 30px;
  background-color: #F7F8FC;
}

.Overview{
  display: flex;
  justify-content: space-between;
}


.links{
  margin: 0;
}

a{
  text-decoration: none;
}
.tittle{
  margin: 0;
}

